// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$red: #f94144;
$dark-orange: #f3722c;
$orange: #f8961e;
$yellow: #f9c74f;
$light-gree: #90be6d;
$green: #43aa8b;
$blue: #577590;

.edit-turn-table {
  display: flex;
  align-items: center;
  padding: 30px!important;
  table {
    width:100%
  }
}

.date-header {
  background-color: $yellow; padding-left: 12px;
}

.engineer-cell {
  color: white;
  font-weight: normal;
  text-align: center;
}

.schedule-hour {
  padding-left: 12px;
  &__empty {
    background-color: $orange;
  }
  &__occupied {
    background-color: $light-gree;
  }
}

.checkbox-cell {
  text-align: center;
  input {
    cursor: pointer;
  }
}

.back-button {
  background-color: #cacaca;
  width: 90px;
  padding: 3px 9px;
  text-align: center;
  float: right;
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.edit-button {
  background-color: $light-gree;
  width: 192px;
  padding: 3px 9px;
  text-align: center;
  float: right;
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.basic-padding {
  padding: 0 30px !important;
}

.container-margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.count-table {
  display: flex;
  align-items: center;
  padding: 30px!important;
  table {
    width:100%
  }
}

.count-table-name {
  color: white;
  font-weight: normal;
  text-align: center;
  width: 50%;
}

.count-table-count {
  background-color: #eaeaea;
  text-align: center;
  width: 50%;
}